@charset "utf-8";
/* CSS Document */
#main {
	width:100%;
	height:100%;
	border-top:3px #fff solid;
	padding:0px;
	margin:0px;
	text-align:center;
}
#position {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding:0px;
}
#picture {
	position: relative;
	width: 100%;
	height: 84.5%;
	overflow: auto;
}
#picture .pic {
	position: relative;
	width: 100%;
	height: 99.5%;
	display: none;
	cursor: move;
	boreder:1px #fff solid;
	padding-top:5px;
}
#picture .pic img {
}
.prev, .next {
	position: absolute;
	width: 40px !important;
	height: 80px !important;
	top: 285px;
	cursor: pointer;
	display: block;
	text-indent: -99999px;
	z-index: 120;
}
.prev {
	background: url(images/prev.png) no-repeat !important;
	background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader  
			(src='images/prev.png',sizingMethod='scale');  /*这里的src的路径是html文档的路径，不是url的相对路径*/
}
.next {
	background: url(images/next.png) no-repeat !important;
	background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader  
			(src='images/next.png',sizingMethod='scale');
			right:13px;
			
}
.select {
	
}
/*------------------------------------------小图片样式---------------------------------------------*/
.small_pic {
	border-top:3px #fff solid;
	position: absolute;
	height: 80px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	padding-top:25px;
	background: #000000;
	white-space:nowrap;
	bottom:0px;
}
.small_pic ul {
	height: 80px;
	padding-left:15px;
}
.small_pic ul li {
	height: 50px;
	width: 80px;
	overflow-x: auto;
	overflow-y: hidden;
	margin-left:8px;
	margin-right:8px;
	float: left;
	white-space:nowrap;
}
.small_pic ul li img {
	width: 80px;
	height: 50px;
	cursor: pointer;
}
.small_pic .select_pic {
	border: 2px solid #ffffff;
	top: 0;
}
.small_pic span {
	position: absolute;
	background: url(images/triangle.png) no-repeat !important;
	background: url(images/triangle.gif) no-repeat;
	width: 43px;
	height: 8px;
	display: block;
	top: 17px;
	left: 43px;
}
/*------------------------------------------文字样式---------------------------------------------*/
.bg {
	position: absolute;
	background: #000000;
	left: 0;
	top: 320px;
	width: 800px;
	height: 80px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	display:none;
}
.text {
	position: absolute;
	width: 800px;
	height: 80px;
	left: 0;
	top: 320px;
	color: #ffffff;
	display:none;
}
.text h3 {
	float: left;
	width: 700px;
	margin: 4px 0 0 20px !important;
	margin: 4px 0 0 10px;
	display:none;
}
.text p {
	float: left;
	width: 750px;
	font-size: 13px;
	margin: 0 0 0 20px !important;
	margin: 0 0 0 10px;
	display:none;
}