<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.framework.resources.dao.AttachmentsMapper">
  <resultMap id="BaseResultMap" type="com.framework.resources.model.CommAttachments">
    <id column="attaID" jdbcType="VARCHAR" property="attaid" />
    <result column="dataid" jdbcType="VARCHAR" property="dataid" />
    <result column="bussTYPE" jdbcType="CHAR" property="busstype" />
    <result column="attaType" jdbcType="CHAR" property="attatype" />
    <result column="attaNo" jdbcType="INTEGER" property="attano" />
    <result column="attaName" jdbcType="VARCHAR" property="attaname" />
    <result column="attaDesc" jdbcType="VARCHAR" property="attadesc" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="filesize" jdbcType="DECIMAL" property="filesize" />
    <result column="width" jdbcType="DECIMAL" property="width" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="atta_json" jdbcType="VARCHAR" property="attaJson" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.framework.resources.model.CommAttachments">
    <result column="fileBlob" jdbcType="LONGVARBINARY" property="fileblob" />
  </resultMap>
  <sql id="Base_Column_List">
    attaID, dataid, bussTYPE, attaType, attaNo, attaName, attaDesc, filepath, filename, 
    filesize, width, height, atta_json, remark
  </sql>
  <sql id="Blob_Column_List">
    fileBlob
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comm_attachments
    where attaID = #{attaid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from comm_attachments
    where attaID = #{attaid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.framework.resources.model.CommAttachments">
    insert into comm_attachments (attaID, dataid, bussTYPE, 
      attaType, attaNo, attaName, 
      attaDesc, filepath, filename, 
      filesize, width, height, 
      atta_json, remark, fileBlob
      )
    values (#{attaid,jdbcType=VARCHAR}, #{dataid,jdbcType=VARCHAR}, #{busstype,jdbcType=CHAR}, 
      #{attatype,jdbcType=CHAR}, #{attano,jdbcType=INTEGER}, #{attaname,jdbcType=VARCHAR}, 
      #{attadesc,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{filesize,jdbcType=DECIMAL}, #{width,jdbcType=DECIMAL}, #{height,jdbcType=DECIMAL}, 
      #{attaJson,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{fileblob,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.framework.resources.model.CommAttachments">
    insert into comm_attachments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="attaid != null">
        attaID,
      </if>
      <if test="dataid != null">
        dataid,
      </if>
      <if test="busstype != null">
        bussTYPE,
      </if>
      <if test="attatype != null">
        attaType,
      </if>
      <if test="attano != null">
        attaNo,
      </if>
      <if test="attaname != null">
        attaName,
      </if>
      <if test="attadesc != null">
        attaDesc,
      </if>
      <if test="filepath != null">
        filepath,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="filesize != null">
        filesize,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="attaJson != null">
        atta_json,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="fileblob != null">
        fileBlob,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="attaid != null">
        #{attaid,jdbcType=VARCHAR},
      </if>
      <if test="dataid != null">
        #{dataid,jdbcType=VARCHAR},
      </if>
      <if test="busstype != null">
        #{busstype,jdbcType=CHAR},
      </if>
      <if test="attatype != null">
        #{attatype,jdbcType=CHAR},
      </if>
      <if test="attano != null">
        #{attano,jdbcType=INTEGER},
      </if>
      <if test="attaname != null">
        #{attaname,jdbcType=VARCHAR},
      </if>
      <if test="attadesc != null">
        #{attadesc,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null">
        #{filesize,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="attaJson != null">
        #{attaJson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileblob != null">
        #{fileblob,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.framework.resources.model.CommAttachments">
    update comm_attachments
    <set>
      <if test="dataid != null">
        dataid = #{dataid,jdbcType=VARCHAR},
      </if>
      <if test="busstype != null">
        bussTYPE = #{busstype,jdbcType=CHAR},
      </if>
      <if test="attatype != null">
        attaType = #{attatype,jdbcType=CHAR},
      </if>
      <if test="attano != null">
        attaNo = #{attano,jdbcType=INTEGER},
      </if>
      <if test="attaname != null">
        attaName = #{attaname,jdbcType=VARCHAR},
      </if>
      <if test="attadesc != null">
        attaDesc = #{attadesc,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null">
        filesize = #{filesize,jdbcType=DECIMAL},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="attaJson != null">
        atta_json = #{attaJson,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="fileblob != null">
        fileBlob = #{fileblob,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where attaID = #{attaid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.framework.resources.model.CommAttachments">
    update comm_attachments
    set dataid = #{dataid,jdbcType=VARCHAR},
      bussTYPE = #{busstype,jdbcType=CHAR},
      attaType = #{attatype,jdbcType=CHAR},
      attaNo = #{attano,jdbcType=INTEGER},
      attaName = #{attaname,jdbcType=VARCHAR},
      attaDesc = #{attadesc,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      filesize = #{filesize,jdbcType=DECIMAL},
      width = #{width,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      atta_json = #{attaJson,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      fileBlob = #{fileblob,jdbcType=LONGVARBINARY}
    where attaID = #{attaid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.framework.resources.model.CommAttachments">
    update comm_attachments
    set dataid = #{dataid,jdbcType=VARCHAR},
      bussTYPE = #{busstype,jdbcType=CHAR},
      attaType = #{attatype,jdbcType=CHAR},
      attaNo = #{attano,jdbcType=INTEGER},
      attaName = #{attaname,jdbcType=VARCHAR},
      attaDesc = #{attadesc,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      filesize = #{filesize,jdbcType=DECIMAL},
      width = #{width,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      atta_json = #{attaJson,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where attaID = #{attaid,jdbcType=VARCHAR}
  </update>
  <select id="selectByCondition" resultMap="BaseResultMap">
    select
    <if test="queryModel != null and queryModel.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comm_attachments
    <if test="queryModel != null">
      <include refid="public.Where_Clause" />
    </if>
    <if test="queryModel != null and queryModel.orderByClause != null">
      order by ${queryModel.orderByClause}
    </if>
  </select>
  <delete id="deleteByCondition">
    delete from comm_attachments
    <if test="queryModel != null">
      <include refid="public.Where_Clause" />
    </if>
  </delete>
  <select id="countByCondition" resultType="java.lang.Integer">
    select count(*) from comm_attachments
    <if test="queryModel != null">
      <include refid="public.Where_Clause" />
    </if>
  </select>
  <update id="updateByConditionSelective">
    update comm_attachments
    <set>
      <if test="record.attaid != null">
        attaID = #{record.attaid,jdbcType=VARCHAR},
      </if>
      <if test="record.dataid != null">
        dataid = #{record.dataid,jdbcType=VARCHAR},
      </if>
      <if test="record.busstype != null">
        bussTYPE = #{record.busstype,jdbcType=CHAR},
      </if>
      <if test="record.attatype != null">
        attaType = #{record.attatype,jdbcType=CHAR},
      </if>
      <if test="record.attano != null">
        attaNo = #{record.attano,jdbcType=INTEGER},
      </if>
      <if test="record.attaname != null">
        attaName = #{record.attaname,jdbcType=VARCHAR},
      </if>
      <if test="record.attadesc != null">
        attaDesc = #{record.attadesc,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null">
        filepath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null">
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filesize != null">
        filesize = #{record.filesize,jdbcType=DECIMAL},
      </if>
      <if test="record.width != null">
        width = #{record.width,jdbcType=DECIMAL},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=DECIMAL},
      </if>
      <if test="record.attaJson != null">
        atta_json = #{record.attaJson,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.fileblob != null">
        fileBlob = #{record.fileblob,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="queryModel != null">
      <include refid="public.Update_By_Where_Clause" />
    </if>
  </update>
  <update id="updateByCondition">
    update comm_attachments
    set attaID = #{record.attaid,jdbcType=VARCHAR},
      dataid = #{record.dataid,jdbcType=VARCHAR},
      bussTYPE = #{record.busstype,jdbcType=CHAR},
      attaType = #{record.attatype,jdbcType=CHAR},
      attaNo = #{record.attano,jdbcType=INTEGER},
      attaName = #{record.attaname,jdbcType=VARCHAR},
      attaDesc = #{record.attadesc,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      filename = #{record.filename,jdbcType=VARCHAR},
      filesize = #{record.filesize,jdbcType=DECIMAL},
      width = #{record.width,jdbcType=DECIMAL},
      height = #{record.height,jdbcType=DECIMAL},
      atta_json = #{record.attaJson,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      fileBlob = #{record.fileblob,jdbcType=LONGVARBINARY}
    <if test="queryModel != null">
      <include refid="public.Update_By_Where_Clause" />
    </if>
  </update>
</mapper>