
.menu_content a, .menu_content a:link, .menu_content a:visited {color: #333; text-decoration: none;}
.menu_content {width: auto; height: auto; border:none}
.menu_content  ul {list-style: none;}
.menu_content .menu-one > li {width: auto; height: auto; overflow: hidden; }
.menu_content .menu-one > li.firstChild {border: 0;}
.menu_content .menu-one .header {height: 35px; background: url(images/menu_bg.png) repeat; line-height: 34px; text-indent: 15px; cursor: pointer;}
.menu_content .menu-one .header:hover,
.menu_content .menu-one .menuOne-current {background: #fff;}
.menu_content .menu-one .header > span {display: block;}
.menu_content .menu-one .header .txt {float: left; color: #111;}
.menu_content .menu-one .header .arrow {float: left; width: 35px; height: 35px; background: url(images/arrow_d.png) no-repeat center right;}
.menu_content .menu-two {display: none; width: auto; height: auto;}
.menu_content .menu-two li {width:auto; height:35px;  border-top: 1px solid #ccc; line-height: 34px; text-indent: 40px;}
.menu_content .menu-two li.firstChild {border: 0;}
.menu_content .menu-two li a {display: block; color: #fff;}
.menu_content .menu-two li:hover,
.menu_content .menu-two li.menuTwo-current {background: #666;}
.menu_content .menu-one > li.firstChild ul.menu-two{display: block;}

.menu_content .menu-show .header {background: #fff;}
.menu_content .menu-show .header .arrow {background-image: url(images/arrow_u.png);}
.meunTwoarrow{
	position: absolute;
	background: url(images/meunLeft.png);
	width:12px;
	height:12px;
	margin-left:15px;
	margin-top: 10px;
}
