/*统一样式选择*/
.divgridtable{
	padding-top:2px;
	padding-bootm:2px;
}
.grid{
	font-size:10pt;
	overflow: hidden;
	display:block; 
	width:100%; 
	position:relative;	
}

.grid .divTextellipsis{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.grid .divTextclip{
	text-overflow:clip;
	overflow:hidden;
	white-space:nowrap;
}


.grid table {
	border-collapse:collapse;
	table-layout:fixed;
}
.grid .gridHeader{
	position:relative;
	overflow:hidden;
	display:block; 
	width:auto;	
}
.grid .gridThead{
	position:relative;
	width:100%;
}

.grid .gridThead table {
	border-color:scrollbar;
	border-width:1px 0 0 1px;
	border-style: solid;
}
.grid .gridHeader th, .grid .gridHeader td {
	padding:0 3px;
	border-style:solid;
	border-width:0 1px 1px 0;
	vertical-align:top;
	line-height:21px;
	border-color:scrollbar;
	cursor:default;
	text-align: center;
}
.grid .gridScroller {
	display:block;
	overflow:hidden;
	position:relative;
}
.grid .gridTbody {
	overflow:auto;
}
.grid .gridTbody table {
	border-color:scrollbar;
	border-width:0px 0 0 1px;
	border-style: solid;
}

.grid .gridTbody td {
	border-right:solid 1px scrollbar;
	overflow:hidden;
	padding:0 3px;
	border-bottom:solid 1px scrollbar;
	vertical-align:middle;
	line-height:21px;
}

.grid .gridTbody td a {
	color: white;
	text-decoration: none;
}

.grid .gridTbody td a:hover {
	font-weight: bold;
	color: #008bcc;
}
.grid .resizeMarker {
	display:block;
	overflow:hidden;
	width:3px;
	position:absolute;
	z-index: 9999999;
	border-color:scrollbar;
}
.grid .resizeMarker .markerBar{
	display:block;
	overflow:hidden;
	left:50%;	
	position:relative;	
	width:1px;
	height:100%;
	background-color:scrollbar;
}

/**
  用于分页条以及工具条等
*/
.toolbar{
	display:inline-block;
	padding-left: 10px;
	padding-right:10px;
	list-style: none;
	margin: 0;
	width:100%; 
	height:27px;	
}
.toolbar input.ui-button {
	padding: .3em 1em;
}
.toolbar .ui-button-text-only .ui-button-text {
	padding: .3em 1em;
}

.toolbar .ui-button-icon-only .ui-button-text,
.toolbar .ui-button-icons-only .ui-button-text {
	padding: .3em;
	text-indent: -9999999px;
}
.toolbar .ui-button-text-icon-primary .ui-button-text,
.toolbar .ui-button-text-icons .ui-button-text {
	padding: .3em 1em .3em 2.1em;
}
.toolbar .ui-button-text-icon-secondary .ui-button-text,
.toolbar .ui-button-text-icons .ui-button-text {
	padding: .3em 2.1em .3em 1em;
}

.toolbar select{
	margin:.2em 0em .2em 0em;
}

.toolbar .leftarea,.toolbar .rightarea {
	margin-top:1px;
}

.ui-scrollPageBar {
	list-style: none;
	margin: 0; 
	padding-left: 100px;
	width:100%; 
}

.toolbar .ui-widget-header {
	
	
	
}