.ui-spliter-hbt, .ui-spliter-vbt {
	background-image: url(images/ui-icons_ef8c08_256x240.png);
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.ui-spliter-hbar, .ui-spliter-vbar {
	background: #cc0000 url(themes/blitzer/images/ui-bg_highlight-soft_15_cc0000_1x100.png) 50% top repeat-x;
}
.ui-spliter-vbt {
	margin-top:-25px;
	margin-left:-10px;
	top:50%;
	position:relative;
	width:16px;
	height:50px;
	background-position: -147px 0px;
}
.ui-spliter-hbt {
	margin-left:-25px;
	left:50%;
	position:relative;
	width:50px;
	height:16px;
	background-position: -48px -176px;
}
.ui-spliter-hbar {
	width:100%;
	height:6px;
}
.ui-spliter-vbar {
	height:100%;
	width:6px;
	float:left;
}
.ui-spliter-hbt.working, .ui-spliter-vbt.working {
	-moz-opacity:.50;
	filter:alpha(opacity=50);
	opacity:.50;
}