.ui-pic-root{
	position: relative;
}
.ui-pic{
	display: none;
}

.ui-pic-root .ui-picnum {
	position: absolute;
	width:15px;
	height:15px;
	bottom:8px;
	z-index: 99;
	text-align:center;
}
.ui-pic-root .ui-picnum  a{
	color:#A6A6A6;
	display: block;
	text-decoration :none;
	
}

.ui-pic-root .ui-picnum  a:hover{
	color: red;
	cursor:pointer;
}

.ui-pic-root .numselected {
	border:1px solid #0074C7;
}
.ui-pic-root .numunselected {
	border:1px solid #CCC;
}

.ui-pic-root .ui-picnextbtn, .ui-pic-root .ui-picprevbtn {
	position:absolute;
	width:40px;
	height:80px;
	bottom:80px;
	cursor:pointer;	
}
.ui-pic-root .ui-picnextbtn {
	right:20px;
	background: url(images/next.png) no-repeat !important;
}
.ui-pic-root .ui-picprevbtn {
	left:20px;
	background: url(images/prev.png) no-repeat !important;
}


