/**主框架部分*/
* {
	margin:0;
	padding:0;
	font-size:10pt;
}
body {
	font-size:8pt;
	background: #79c9ec ;/*背景颜色*/
	color: black;
	font-family: "Trebuchet MS", "宋体", "Helvetica", "Verdana", "sans-serif";
	min-height: 0;
	overflow:hidden;
}



.frameheader {
	position:absolute;
	width:100%;
	height:80px;
	top:0;
}

.frameheader span{
	position:relative;
	top:10px;
	font-size: 8pt;
	font-weight:bold;
	font-family: "隶书";
	float: right;
	font-style:italic;
	padding-right: 40px;
}

.framemenu {
	position:absolute;
	height:30px;
	padding: 0px 100px 0px 100px;
	background:#0078ae;
}
.framemenu ul li {
	height:28px;
}

.framemenu .statictext {
	float:right;
	margin-right:100px;
	color:#000000;
	font-weight:700;
	font-size:12pt;	
	position:relative;
}
.framemain {
	position:absolute;
	background:transparent;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
}
.content {
	padding:1px 5px 10px 1px;
	background-color:#fcfdfd;
	color:#000000;
}
.framemain  .frameleft {
	float:left;
	background:transparent;
	width:200px;
	height:100%;
	overflow-y:hidden;
	border:1px solid #077CB0;
	
}
.framemain  .frameright {
	clear: right;
	width:200px;
	background:transparent;
	float:right;
	height:100%;
	overflow-y:auto;
}
.framemain  .framecon {
	width:400px;
	height:100%;
	float:left;
}
.framefooter {
	position:absolute;
	bottom:0;
	width:100%;
	height: 28px;
	font-weight:bold;
	background: #047AAF;
}
.framefooter span {
	position:relative;
	left:40%;
	top:5px;
}
.framemain  .framecon .queryarea {
	height:60px;
	padding:5px;
	border:1px solid #077CB0;
}
.framemain  .framecon .dataarea {
}

.clearfix:after{display: block;height:100%;_height:100%;clear:both;content:'\020';}

.clearfix{zoom:1;}

/**分隔条样式*/
.ui-spliter-hbt, .ui-spliter-vbt {
	background-image: url(images/ui-icons_ef8c08_256x240.png);
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.ui-spliter-hbar, .ui-spliter-vbar {
	/*可自定义激活与缺省状态*/
}

.ui-spliter-vbt {
	margin-top:-25px;
	margin-left:-10px;
	top:50%;
	position:relative;
	width:16px;
	height:50px;
	background-position: -147px 0px;
}
.ui-spliter-hbt {
	margin-left:-25px;
	left:50%;
	position:relative;
	width:50px;
	height:16px;
	background-position: -48px -176px;
}
.ui-spliter-hbar {
	width:100%;
	height:6px;
	border:1px solid transparent;
}
.ui-spliter-vbar {
	height:100%;
	width:6px;
	float:left;
	border:1px solid transparent;
}
.ui-spliter-hbt.working, .ui-spliter-vbt.working {
	-moz-opacity:.50;
	filter:alpha(opacity=50);
	opacity:.50;
}
/*单双行颜色*/
.tr_double{
	background-color:#f6f6f6 ;
}
.tr_single {
	background-color: #eeeeee ;
}
.tr_selected {
	background-color: #fbf8ee !important;
}
/**/
.ui-dialog .ui-dialog-buttonpane{
	padding: 0em 1em 0em .4em;
	margin-top: 0em;
} 
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: left;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 1px .4em 1px 0;
}

/*
 * jQuery UI Menubar @VERSION
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 */
.ui-menubar {
	list-style: none;
	margin: 0; 
	width:100%; /*菜单条显示宽度*/
}

.ui-menubar-item {
	float: left;
	width:120px; /*主菜单项显示宽度*/
}

.ui-menubar .ui-button {
	float: left;
	font-weight: normal;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	margin: 1px 0 0 0;/* */ 
	outline: none;
	width:120px;/*主菜单项显示宽度*/
}
.ui-menubar .ui-menubar-link {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}

.ui-menubar .ui-menu {
	width: 120px; /*下拉菜单显示宽度*/
	position: absolute;
	z-index: 9999;
	font-weight: normal;
}

/*左侧菜单定义*/
.ui-menu .ui-menu-item {
	width: auto;
	height: 31px;
	border-bottom: 1px solid #bdbdbd;
	line-height: 30px;
}

.ui-menu .ui-icon {
    left: 10px;
}

/**定制dialog内边框*/
.ui-dialog .ui-dialog-content {
	padding: 2px 2px;
	background-color:white;
}

.div_detail{
	padding:5px;
}

.divleft-right {
	position:absolute;
	
}

.divleft-right  .divleft {
	float:left;
	background:transparent;
	
}

.divleft-right  .divright{
	float:right;
	background:transparent;
	margin-left:10px;
}

.detail{
	
}

.detail .inputField {
	padding:2px 8px 0pt 3px;
	height:22px;
	background-color:#FFFFFF;
}

.detail .field_on {
	border: 1px solid #2E90BD;
}

.detail .field_off {
	border:1px solid #77D5F7;
}

.detail .tableStyle {
	
}

/** fieldset 分组样式
*/
fieldset {
	border:0;
	padding:20px 10px 5px 10px;
	margin-bottom:20px;
	background:#EEE;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background:-webkit-liner-gradient(top,#EEEEEE,#FFFFFF);
	background:linear-gradient(top,#EFEFEF,#FFFFFF);
	/** box-shadow:3px 3px 10px #666;
	-moz-box-shadow:3px 3px 10px #666;
	-webkit-box-shadow:3px 3px 10px #666;*/
	position:relative;
}

legend {
	padding:5px 10px;
	/**/background-color:#77D5F7;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;

	/**box-shadow:2px 2px 4px #666;
	-moz-box-shadow:2px 2px 4px #666;
	-webkit-box-shadow:2px 2px 4px #666;*/

	position:absolute;
	left:20px;top:-11px;
}




/* 标签**/
.ui-tabs .ui-tabs-panel {
    padding: 2px 2px;
}

/** 控制弹窗样式*/
.ui-widget-content {
	background: #fcfdfd;
}


/** 以下需要调整颜色才能对应不同的皮肤*/
/** 控制弹窗样式*/
.ui-widget-content {
	background: #fcfdfd;
}

/*定制边框颜色*/
.ui-dialog{
	border:1px solid #79C9EC;
}



.ui-dialog-background {
	background-color:#2E90BD;
}

/**/
.ui-dialog .ui-dialog-buttonpane{
	background-color:#2E90BD;
} 
