<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.museum.dao.SysDepotMapper">
	<resultMap id="BaseResultMap" type="com.museum.model.SysDepot">
		<id column="depot_id" property="depotId" jdbcType="VARCHAR" />
		<result column="depot_code" property="depotCode" jdbcType="VARCHAR" />
		<result column="depot_name" property="depotName" jdbcType="VARCHAR" />
		<result column="superid" property="superid" jdbcType="VARCHAR" />
		<result column="sortid" property="sortid" jdbcType="DECIMAL" />
		<result column="endflag" property="endflag" jdbcType="CHAR" />
		<result column="duty_man" property="dutyMan" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="note" property="note" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="sysDepotTreeMap" type="com.museum.model.SysDepotTree"
		extends="BaseResultMap">
		<result column="parent" property="isParent" javaType="boolean"
			jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		depot_id, depot_code, depot_name, superid, sortid, endflag,
		duty_man, position,
		note
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_depot
		where depot_id = #{depotId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sys_depot
		where depot_id = #{depotId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.museum.model.SysDepot">
		insert into sys_depot
		(depot_id, depot_code, depot_name,
		superid, sortid, endflag,
		duty_man,
		position, note
		)
		values (#{depotId,jdbcType=VARCHAR},
		#{depotCode,jdbcType=VARCHAR},
		#{depotName,jdbcType=VARCHAR},
		#{superid,jdbcType=VARCHAR}, #{sortid,jdbcType=DECIMAL},
		#{endflag,jdbcType=CHAR},
		#{dutyMan,jdbcType=VARCHAR},
		#{position,jdbcType=VARCHAR},
		#{note,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.museum.model.SysDepot">
		insert into sys_depot
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="depotId != null">
				depot_id,
			</if>
			<if test="depotCode != null">
				depot_code,
			</if>
			<if test="depotName != null">
				depot_name,
			</if>
			<if test="superid != null">
				superid,
			</if>
			<if test="sortid != null">
				sortid,
			</if>
			<if test="endflag != null">
				endflag,
			</if>
			<if test="dutyMan != null">
				duty_man,
			</if>
			<if test="position != null">
				position,
			</if>
			<if test="note != null">
				note,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="depotId != null">
				#{depotId,jdbcType=VARCHAR},
			</if>
			<if test="depotCode != null">
				#{depotCode,jdbcType=VARCHAR},
			</if>
			<if test="depotName != null">
				#{depotName,jdbcType=VARCHAR},
			</if>
			<if test="superid != null">
				#{superid,jdbcType=VARCHAR},
			</if>
			<if test="sortid != null">
				#{sortid,jdbcType=DECIMAL},
			</if>
			<if test="endflag != null">
				#{endflag,jdbcType=CHAR},
			</if>
			<if test="dutyMan != null">
				#{dutyMan,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				#{note,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.museum.model.SysDepot">
		update sys_depot
		<set>
			<if test="depotCode != null">
				depot_code = #{depotCode,jdbcType=VARCHAR},
			</if>
			<if test="depotName != null">
				depot_name = #{depotName,jdbcType=VARCHAR},
			</if>
			<if test="superid != null">
				superid = #{superid,jdbcType=VARCHAR},
			</if>
			<if test="sortid != null">
				sortid = #{sortid,jdbcType=DECIMAL},
			</if>
			<if test="endflag != null">
				endflag = #{endflag,jdbcType=CHAR},
			</if>
			<if test="dutyMan != null">
				duty_man = #{dutyMan,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				note = #{note,jdbcType=VARCHAR},
			</if>
		</set>
		where depot_id = #{depotId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.museum.model.SysDepot">
		update sys_depot
		set depot_code = #{depotCode,jdbcType=VARCHAR},
		depot_name =
		#{depotName,jdbcType=VARCHAR},
		superid = #{superid,jdbcType=VARCHAR},
		sortid = #{sortid,jdbcType=DECIMAL},
		endflag =
		#{endflag,jdbcType=CHAR},
		duty_man = #{dutyMan,jdbcType=VARCHAR},
		position = #{position,jdbcType=VARCHAR},
		note =
		#{note,jdbcType=VARCHAR}
		where depot_id = #{depotId,jdbcType=VARCHAR}
	</update>

	<select id="selectDepotTree" resultMap="sysDepotTreeMap">
		select
		<include refid="Base_Column_List" />
		,
		case when
		exists(select * from sys_depot b where b.SUPERID = a.depot_id)
		then 1
		else 0
		end as
		parent
		from sys_depot a
		<if test="queryModel != null">
			<include refid="public.Where_Clause" />
		</if>
		<if test="queryModel != null and queryModel.orderByClause != null">
			order by ${queryModel.orderByClause}
		</if>
	</select>

	<!-- 公共方法 -->
	<select id="selectByCondition" resultMap="BaseResultMap">
		select
		<if test="queryModel != null and queryModel.distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from sys_depot
		<if test="queryModel != null">
			<include refid="public.Where_Clause" />
		</if>
		<if test="queryModel != null and queryModel.orderByClause != null">
			order by ${queryModel.orderByClause}
		</if>
	</select>
	<delete id="deleteByCondition">
		delete from sys_depot
		<if test="queryModel != null">
			<include refid="public.Where_Clause" />
		</if>
	</delete>
	<select id="countByCondition" resultType="java.lang.Integer">
		select count(*) from sys_depot
		<if test="queryModel != null">
			<include refid="public.Where_Clause" />
		</if>
	</select>
	<update id="updateByConditionSelective">
		update sys_depot
		<set>
			<if test="depotCode != null">
				depot_code = #{depotCode,jdbcType=VARCHAR},
			</if>
			<if test="depotName != null">
				depot_name = #{depotName,jdbcType=VARCHAR},
			</if>
			<if test="superid != null">
				superid = #{superid,jdbcType=VARCHAR},
			</if>
			<if test="sortid != null">
				sortid = #{sortid,jdbcType=DECIMAL},
			</if>
			<if test="endflag != null">
				endflag = #{endflag,jdbcType=CHAR},
			</if>
			<if test="dutyMan != null">
				duty_man = #{dutyMan,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				note = #{note,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="queryModel != null">
			<include refid="public.Update_By_Where_Clause" />
		</if>
	</update>
	<update id="updateByCondition">
		update sys_depot
		set depot_code = #{depotCode,jdbcType=VARCHAR},
		depot_name = #{depotName,jdbcType=VARCHAR},
		superid =
		#{superid,jdbcType=VARCHAR},
		sortid = #{sortid,jdbcType=DECIMAL},
		endflag = #{endflag,jdbcType=CHAR},
		duty_man =
		#{dutyMan,jdbcType=VARCHAR},
		position = #{position,jdbcType=VARCHAR},
		note = #{note,jdbcType=VARCHAR}
		<if test="queryModel != null">
			<include refid="public.Update_By_Where_Clause" />
		</if>
	</update>

</mapper>